[submodule "threadpool"]
	path = lib/threadpool
	url = https://github.com/UtkuBulkan/threadpool
[submodule "lib/syslog_for_cpp"]
	path = lib/syslog_for_cpp
	url = https://github.com/UtkuBulkan/syslog_for_cpp.git
